@font-face {
  font-family: "Gilroy-bold"; 
  font-style: normal; 
  font-weight: 800; 
  src: local("Gilroy-bold"),
  url("../fonts/Gilroy-Bold.ttf") format("truetype"),
  url("../fonts/Gilroy-Bold.woff") format("woff");
  
} 
@font-face {
  font-family: "Gilroy-medium";
  font-style: normal;
  font-weight: 600;
  src: local("Gilroy-medium"),
  url("../fonts/Gilroy-Medium.ttf") format("truetype"),
  url("../fonts/Gilroy-Medium.woff") format("woff");
  
}


* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Gilroy-medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
  border: 5px solid blue;
}
a:active, a:hover {
  font-size:20px;
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.main-nav {
  margin: 0 auto;
}

.main-nav__wrapper {
  width: 1300px;
}

.site-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  border-bottom: 1px solid #828282;
  height: 50px;
}

.site-list__item {
  height: 32px;
  font-size: 18px;
  font-family: "Gilroy-bold";
  line-height: 22px;
  font-weight: 700;
}


.site-list__link {
  color: #828282;
}

.site-list__item--active {
  color: #070707;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-wrapper {
  width: 1300px;
  margin: 0 auto;
}

.home__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__header {
  font-family: "Gilroy-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 57px;

  color: #070707;
}

.intro-list__item--active {
  color: #070707;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: "Gilroy-bold", sans-serif;
}

.intro-list__item--transform {
  transform: rotate(-90deg);
}

.inactive-link {
  color: #828282;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: "Gilroy-bold", sans-serif;
}

.main-photo {
  margin: 0 auto;
}

.about-me {
  background-color: #f6f6f6;
  margin-top: 90px;
  padding-bottom: 50px;
}

.about-me-wrapper {
  padding-top: 60px;
  margin: 0 auto;
  width: 500px;
}

.about-me__title {
  font-family: "Gilroy-bold";
  font-size: 34px;
  line-height: 41px;
  font-weight: 700;

  text-align: center;
}

.about-me__text {
  font-family: "Gilroy-medium";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: 500;
}

.skills-wrapper {
  margin: 0 auto;
  width: 1300px;
  text-align: center;
  padding-top: 45px;
}

.skills__title {
  font-family: "Gilroy-bold";
  font-size: 34px;
  line-height: 41px;
  font-weight: 700;
}

.skills-text {
  font-family: "Gilroy-medium";
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;

  padding-top: 35px;
}

.programms {
  display: flex;
}

.tools-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding-top: 40px;
}

.tools-list__item {
  width: 314px;
}

tools-list__rating {
  text-align: center;
}
